* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    height: 100%;
    background-color: #111;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 100px;
    border-right: 3px solid red;
}

nav ul {
    list-style-type: none;
}

li a {
    display: block;
    color: gray;
    padding: 30px 30px 30px 30px;
    text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 25px;
}

li a:hover {
    background-color: red;
    color: white;
    transition: 0.5s;
}

main {
    height: 100%;
    margin-left: 200px;
    background-color: gray;
    position: fixed;
    width: 100%;
}
main h1, p {
    padding: 5px;
}