main {
    height: 100%;
    position: absolute;
    width: 100%;
}

main section {
    margin-left: 12em;
    margin-bottom: 0;
    height: 100%;
}

@media only screen and (max-width: 1000px) {
    main section {
        margin: 0 auto;
    }
}
